@page
@model IgnisMercado.Pages.Propuestas.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Propuesta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Propuesta.ID" />
            <div class="form-group">
                <label asp-for="Propuesta.Title" class="control-label"></label>
                <input asp-for="Propuesta.Title" class="form-control" />
                <span asp-validation-for="Propuesta.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Propuesta.EstimadoDeHora" class="control-label"></label>
                <input asp-for="Propuesta.EstimadoDeHora" class="form-control" />
                <span asp-validation-for="Propuesta.EstimadoDeHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Propuesta.CostoEstimado" class="control-label"></label>
                <input asp-for="Propuesta.CostoEstimado" class="form-control" />
                <span asp-validation-for="Propuesta.CostoEstimado" class="text-danger"></span>
            </div>o
            <div class="form-group">
                <label asp-for="Propuesta.Estado" class="control-label"></label>
                <input asp-for="Propuesta.Estado" class="form-control" />
                <span asp-validation-for="Propuesta.Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Propuesta.DescripcionDeLaPropuesta" class="control-label"></label>
                <input asp-for="Propuesta.DescripcionDeLaPropuesta" class="form-control" />
                <span asp-validation-for="Propuesta.DescripcionDeLaPropuesta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Propuesta.FechaLimite" class="control-label"></label>
                <input asp-for="Propuesta.FechaLimite" class="form-control" />
                <span asp-validation-for="Propuesta.FechaLimite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
