@page
@model IndexModel
@{
    ViewData["Title"] = "Centro Ignis :: Home";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos al Centro Ignis</h1>
    <p>Conoce mas en <a href="https://ucu.edu.uy/es/CentroIgnis">Centro Ignis</a>.</p>
</div>
